<div class="container">
    <div class="row-mt-10">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
                <div class="form-group">
                    <label for="nombre">Nombre del Producto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombreProducto" required>
                </div>
               <div class="form-group">
                    <label for="subscripcion">Imagen</label>
                    <input type="url" class="form-control" id="logo" name="logo" [(ngModel)]="imagen">
                </div>
                <div class="form-group">
                    <label for="pago">Cantidad</label>
                    <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="cantidad" required>
                </div>
                <div class="form-group">
                    <label for="pago">Precio</label>
                    <input type="number" class="form-control" id="email" name="email" [(ngModel)]="precio" required>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label>Eliege un Provedor:</label>
                    <select id="roles" name="roles" [(ngModel)]="nombreProvedor" required>
                    <option *ngFor="let prove of proveedores" >{{prove.nombreProvedor}}</option>
                    </select>
                </div>
                <button class="btn btn-outline-success btn-block" id="BootonCrear" [disabled]="!f.valid"> Crear</button>
            </form>
        </div>
    </div>
</div>
