<h1 style="text-align: center">Lista de Proveedores</h1> 
<button type="button" *ngIf="isAdmin" class="btn btn-primary btn-lg" routerLink="/proveedor/nuevo" id="botonNuevo" style="margin-top: 18px; margin-left: 90%;"><i class="fa-solid fa-circle-plus"></i>Nuevo</button>
   
 
<div style=" display: flex;flex-wrap: wrap;">
  <div class="card-group" *ngFor="let prove of proveedores" style=" flex-basis: calc(33.33% - 10px);
  text-align: center; 
  margin-right: 10px; /* Establecer un espacio entre los elementos */
  margin-bottom: 10px; /* Establecer un espacio entre las filas */
  padding: 10px;">
    <div class="card">
      <img [src]="prove.logo" class="card-img-top" width="80px" height="200px">
      <hr>
      <div class="card-body">
        <h5 class="card-title">{{prove.nombreProvedor}}</h5>
        <p class="card-text"><small class="text-muted">{{prove.pais}}</small></p>
        <a routerLink="/proveedor/lista/{{prove.id}}/{{prove.nombreProvedor}}" class="btn btn-outline-primary" style="margin-right: 5px;"><i class="fa-solid fa-eye"></i> Detalle</a>
        <!--Ponerlo en detalles--><a *ngIf="isAdmin" routerLink="/proveedor/editar/{{prove.id}}" class="btn btn-outline-warning"  style="margin-right: 5px;"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
        <a *ngIf="isAdmin" (click)="onDelete(prove.id)" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Eliminar</a>
      </div>
    </div>
  </div>
</div>